@import 'tailwindcss';

@theme {
  --text-color: #fbfff1;
  --primary-color: #3d52d5;
  --secondary-color: #b4c5e4;
  --contrast-color: #090c9b;
  --background-color: #3c3744;
}

html,
body,
div#app {
  min-height: 100dvh;
  font-family: 'Instrumental Sans', sans-serif !important;
  color: var(--text-color);
}

div#app {
  background-color: var(--background-color);
}
